<nav class="app-navbar sticky-top">
  <div class="app-navbar__inner">
    <div class="app-navbar__left">
      <%= link_to root_path, class: "app-navbar__brand" do %>
        <span class="app-navbar__logo">🪴</span>
        <span class="app-navbar__title">Plantae</span>
      <% end %>
    </div>

    <div class="app-navbar__right">
      <a href="#" class="app-navbar__btn app-navbar__btn--primary"
         onclick="window.dispatchEvent(new CustomEvent('app:new-entry')); return false;">
        + New Entry
      </a>
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete,
              class: "app-navbar__btn app-navbar__btn--ghost" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "app-navbar__btn app-navbar__btn--ghost" %>
      <% end %>
    </div>
  </div>
</nav>
