<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Ruby Learning Journal", root_path, class: "navbar-brand" %>
    <div class="navbar-nav">
      <%= link_to "New Entry", new_entry_path, class: "nav-link" %>
    </div>
  </div>
</nav>